@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #DAE7E9;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

#wrapper
{
    width: 100%;
}

#container
{
    width: 800px;
    margin: 60px auto;
    overflow: hidden;
    clear: both;
    scroll-behavior: smooth;
}

input
{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    background: #fff;
    border: none;
    border-radius: 5px;
    z-index: 1;
    height: 60px;
    width: 500px;
    padding: 10px 15px;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,.1);
}

#search
{
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    border-bottom: 3px solid lightgray;
    border-radius: 0;
    font-size: 1.5rem;
}

.search label
{
    background: none;
    font-size: 1.5rem;
}

label
{
    position: absolute;
    z-index: 2;
    top:23px;
    left: 160px;
    background: #fff;
    opacity: 0.5;
    transition: 0.3s all ease-out;
    pointer-events: none;
}


.one
{
    position: relative;
    margin-bottom: 30px;
    margin-top: 40px;
}



input:focus ~ label,
input:valid ~ label
{
    top: -30px;
    left: 150px;
    background: none;
    opacity: 1;
    color: #01c1da;
    font-weight: 600;
}

#search:focus ~ label,
#search:valid ~ label
{
    display: none;
}

.hide
{
    display: none;
}

input:focus
{
    outline: none;
    box-shadow: 4px 8px 10px rgba(0,0,0,.1);
}

span
{
    position: absolute;
    bottom: 0;
    left: 151px;
    height: 4px;
    background-color: #01c1da;
    display: block;
    width: 0;
    z-index: 2;
    transition: 0.3s all ease-out;
}

input:focus + span
{
    width: 62.4%;
}

#search:focus + span
{
    width: 0;
}

.button
{
    height: 50px;
    width: 150px;
    background: #01c1da;
    text-align: center;
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,.1);
}

.button:active
{
    top: 2px;
}

a
{
    background: none;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 15px;
    font-size: 1.1rem;
    display: block;
    height: 50px;
    width: 150px;
}

.search
{
    margin-top: 50px;
}

.sites
{
    margin-top: 70px;
    overflow: hidden;
    /* position: relative; */
}

.site
{
    height: 80px;
    width: 500px;
    margin: 5px auto;
    background: #fff;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

h2
{
    background: none;
    display: inline-block;
    padding: 25px;
    padding-left: 50px;
    width: 300px;
}

.act
{
    display: inline-block;
    clear: both;
    height: 40px;
    position: relative;
    /* top: 1px; */
    letter-spacing: 1px;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    padding: 10px;
    width: 80px;
    text-align: center;
    margin-top: 10px;
    background: #0A79DF;
}

.delete
{
    background: #EC4849;
    width: 90px;
    margin-left: 10px;
}
.act:active
{
    top: 2px;
}

h1
{
    font-family: 'Pacifico', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    font-size: 6rem;
    text-transform: lowercase;
    color: #01c1da;
    transform: skew(-5deg, -5deg) rotate(5deg);
    transform-origin: center center;
    text-align: center;
}

